/*.nav {
  word-spacing: 99px;
  &__list {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
  }
  &__link {
    
    font-size: 14px;
    font-weight: 400;
   
    &:hover {
      color: $hover-color;
    }
  }
}
*/
.nav{
  color: $nav-color;
  text-align: center;
  &__link{
    color: $nav-color;
    font-family: "Playfair Display";
    transition: color 250ms ease-in-out;
    margin-top: 5px;
    &:hover {
      color: $hover-color;
    }
  }
}
@media screen and (min-width: 768px){
  .nav__list{
    display: flex;
    justify-content: space-around;
  }
  
}
@media screen and (min-width:907px){
  .header{
    padding-bottom: 71px;
    padding-top: 92px;
  }
  
}