
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
}
a{
    text-decoration: none;
}
body{
    padding: 0 15px;
    margin: 0 auto;
    font-family: 'Playfair Displey', serif;
    font-weight: 400;
    font-size: 14px;
color: $title-color;
box-sizing: border-box;
}
img{
    width: 100%;
}


.container{
    max-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: 768px){
    .container{
        width: 768px;
    }
}
@media screen and (min-width: 906px){
    .container{
        max-width: 1200px;
    }
}